
<footer id="footer">
    <div class="footer-top" style="color:rgb(15, 14, 14);">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6 footer-contact" style="color: black;">
            <h3>LifeCare</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ganeral Pysician</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Dentist</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">gynocologist</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">ENT</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Special Treatment</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
          <div class="me-md-auto text-center text-md-start">
            <div class="copyright" style="text-align: center;padding-left: 300px;font-size: 18px;font-weight: bold;">
              &copy; Copyright <strong><span>LifeCare</span></strong>. All Rights Reserved
            </div>
            <div class="credits" style="font-size: 18px;font-weight: bold;padding-left: 200px;color: black;">
              
              Designed by <a href="https://lifecare@gmail.com/">LifeCareHospital</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>