
    <div class="section-heading text-center">
        <h2 class="h-bold" style="text-align: center;">Our facilities</h2>
        <p>The workload of a health facility is often used to indicate its size. Large health facilities are those with a greater patient load.</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="item"><a href="assets/photo/1.jpg" title="This is an image title"
                        data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg"><img
                            src="assets/photo/1.jpg" class="img-responsive" alt="img"></a></div>
            </div>
            <div class="col-md-4">
                <div class="item"><a href="assets/photo/2.jpg" title="This is an image title"
                        data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/2@2x.jpg"><img
                            src="assets/photo/2.jpg" class="img-responsive " alt="img"></a></div>
            </div>
            <div class="col-md-4">
                <div class="item"><a href="assets/photo/3.jpg" title="This is an image title"
                        data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/3@2x.jpg"><img
                            src="assets/photo/3.jpg" class="img-responsive " alt="img"></a></div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="item"><a href="assets/photo/4.jpg" title="This is an image title"
                        data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/4@2x.jpg"><img
                            src="assets/photo/4.jpg" class="img-responsive " alt="img"></a></div>
            </div>
            <div class="col-md-4">
            <div class="item"><a href="assets/photo/5.jpg" title="This is an image title"
                    data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/5@2x.jpg"><img src="assets/photo/5.jpg"
                        class="img-responsive " alt="img"></a></div>
        
                    </div>
        <div class="col-md-4">
            <div class="item"><a href="assets/photo/6.jpg" title="This is an image title"
                    data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/6@2x.jpg"><img src="assets/photo/6.jpg"
                        class="img-responsive " alt="img"></a></div>
        </div>
     </div>
    </div>
    
    
  
    
