<div class="container" style="background-color: white;background-size: cover;height: 670px;">

    <div class="row">
        <div class="col-lg-12">
            <div class="title-box">
                <h3><b>Service</b></h3>
                <img class="img" src="assets/tag-line.png" alt="image">
                
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="wow fadeInUp animated" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <img src="assets/dummy/img-1.jpg" class="img-responsive" alt="" style="background-size: cover;height: 450px;">
            </div>
        </div>
        <div class="col-sm-3 col-md-3">

            <div class="wow fadeInRight animated" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="assets/icon/icon1.PNG" alt="" class="img"  >
                        <!-- <span class="fa fa-stethoscope fa-3x"></span> -->
                    </div>
                    <div class="service-desc">
                        

                        <h5><b> Medical checkup</b></h5>
                         <p> A medical test is a performed to detect.</p>
                    </div>
                </div>
            </div>

            <div class="wow fadeInRight animated" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="assets/icon/icon2.PNG" alt="" class="img"  >
                        <!-- <span class="fa fa-wheelchair fa-3x"></span> -->
                    </div>
                    <div class="service-desc">
                        <h5 class="h-light"><b>Nursing Services</b></h5>
                        <p> Is the part of the total health organization.</p>
                    </div>
                </div>
            </div>
            <div class="wow fadeInRight animated" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="assets/icon/icon3.PNG" alt="" class="img"  >
                        <!-- <span class="fa fa-plus-square fa-3x"></span> -->
                    </div>
                    <div class="service-desc">
                        <h5 class="h-light"><b>Pharmacy</b></h5>
                        <p>pharmacy is a shop where therapeutic drugs are sold.</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-sm-3 col-md-3" >

            <div class="wow fadeInRight animated" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="assets/icon/icon4.PNG" alt="" class="img"  >
                        <!-- <span class="fa fa-h-square fa-3x"></span> -->
                    </div>
                    <div class="service-desc">
                        <h5 class="h-light"><b>Gyn Care</b></h5>
                        <p>Gynecologic oncology is a specialized field.</p>
                    </div>
                </div>
            </div>

            <div class="wow fadeInRight animated" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="assets/icon/icon5.PNG" alt="" class="img"  >
                        <!-- <span class="fa fa-filter fa-3x"></span> -->
                    </div>
                    <div class="service-desc">
                        <h5 class="h-light"><b>Neurology</b></h5>
                        <p>Neurology is about the medical diagnosis and treatment.</p>
                    </div>
                </div>
            </div>
            <div class="wow fadeInRight animated" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="assets/icon/icon6.PNG" alt="" class="img"  >
                        <!-- <span class="fa fa-user-md fa-3x"></span> -->
                    </div>
                    <div class="service-desc">
                        <h5 class="h-light"><b>Sleep Center</b></h5>
                        <p>Sleep is a naturally recurring state of mind and body.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>