<section id="pricing" class="pricing" style="padding-left: 30px;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 class="h1" style="text-align: center;"> Pricing</h2><hr>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="box" data-aos="fade-up" data-aos-delay="100">
            <h3>Free</h3>
            <h4><sup>&#8377;</sup>0<span> 3/ month</span></h4>
            <ul>
              <li>Treatement</li>
              <li>all blood test</li>
              <li> full body cheakup</li>
              <li>Service </li>
             
              <li class="na">Pharmacy</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box featured" data-aos="fade-up" data-aos-delay="200">
            <h3>Special Treatment</h3>
            <h4><sup>&#8377;</sup>1380<span> 3/ month</span></h4>
            <ul>
              <li>all blood test</li>
              <li>full body cheakup</li>
              <li>Men full Package Blood test</li>
              <li>Men full Package blood test</li>
              <li class="na">Pharmacy</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="300">
            <h3>Advance Treatment</h3>
            <h4><sup>&#8377;</sup>2010<span> 3/ month</span></h4>
            <ul>
                <li>all blood test</li>
                <li>full body cheakup</li>
                <li>Men full Package Blood test</li>
                <li>Men full Package blood test</li>
                <li class="na">Pharmacy</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="400">
            <span class="advanced">Advanced</span>
            <h3>Ultimate</h3>
            <h4><sup>&#8377;</sup>3570<span> / month</span></h4>
            <ul>
              <li>all blood test</li>
              <li>full body cheakup</li>
              <li>Men full Package Blood test</li>
              <li>Men full Package blood test</li>
              <li>Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
