<div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="padding-left: 0%;">
  
        <div class="sidebar"
          style="background-color: rgb(128, 150, 240);height: 670px;text-align: center;width: 260px;float: left;">
          <h2 class="page-header" style="text-align: center;">Dashboard</h2>
          <hr>
          <a class="nav-link" routerLink="/doctors"><b>Doctors</b></a>
          <a class="nav-link" routerLink="/team"><b>Team</b></a>
          <a class="nav-link" routerLink="/department"><b>Department</b></a>
          <a class="nav-link" routerLink="/testimonials"><b>Testimonials</b></a>
          <a class="nav-link" routerLink="/facilities"><b>Facilities</b></a>
          <a class="nav-link" routerLink="/pricing"><b>Pricing</b></a>
          <a class="nav-link" routerLink="/gallary"><b>Gallary</b></a>
          <a class="nav-link" routerLink="/blog"><b>Blog</b></a>
          <a class="nav-link" routerLink="/review"><b>Review</b></a>
          <a class="nav-link" routerLink="/location"><b>Location</b></a>
        </div>
      </div>
      <div id="content" class="col-md-10">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  
