<div class="container-fluid" style="padding-left: 40px;height: 650px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="title-box">
                <h3><b>Appointment</b></h3>
                <img class="img" src="assets/tag-line.png" alt="image">
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class=" col-md-6">
            <div class="card" style="background-color: rgb(238, 246, 255);font-weight: bold;">
            <div class="well-block">
                
                <div class="well-title">
                    <h2>Book an Appointment</h2>
                </div>
                <form>
                    <!-- Form start -->
                    <div class="row">
                        <!-- <div class="card"style="width: 550px;height: 500px;">
                            <div class="card-body"> -->
                                 <div class="col-md-6">
                            
                                    <div class="form-group">
                                        <label class="control-label" for="name">Name</label>
                                        <input id="name" name="name" type="text" placeholder="Name"
                                            class="form-control input-md">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email</label>
                                        <input id="email" name="email" type="text" placeholder="E-Mail"
                                            class="form-control input-md">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="date">Preferred Date</label>
                                        <input id="date" name="date" type="text" placeholder="Preferred Date"
                                            class="form-control input-md">
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="time">Preferred Time</label>
                                        <select id="time" name="time" class="form-control">
                                            <option value="8:00 to 9:00">8:00 to 9:00</option>
                                            <option value="9:00 to 10:00">9:00 to 10:00</option>
                                            <option value="10:00 to 1:00">10:00 to 1:00</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="appointmentfor">Department</label>
                                        <select id="appointmentfor" name="appointmentfor" class="form-control">
                                            <option value="Choose Department">Choose Department</option>
                                            <option value="Gynacology">Gynacology</option>
                                            <option value="Dermatologist">Dermatologist</option>
                                            <option value="Orthology">Orthology</option>
                                            <option value="Anesthesiology">Anesthesiology</option>
                                            <option value="Ayurvedic">Ayurvedic</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="col-md-12">
                                    <div class="form-group" style="text-align: center;">
                                        <button id="singlebutton" name="singlebutton" class="new-btn-d br-2"
                                            style="background-color: rgb(188, 223, 117);color: black;text-align: center;padding-left: 40px;">Make An
                                            Appointment</button>
                                    </div>
                                </div>
                            </div>
                            
                        <!-- </div>
                    </div> -->
                    
                </form>
                <!-- form end -->
            </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="well-block">
                <div class="well-title">
                    <h2>Why Appointment with Us</h2>
                </div>
                <div class="feature-block">
                    <div class="feature feature-blurb-text">
                        <h4 class="feature-title">24/7 Hours Available</h4>
                        <div class="feature-content">
                            <p>24/7 service might be offered by a supermarket, convenience store, ATM, automated online assistant, filling station, restaurant, concierge services.</p>
                        </div>
                    </div>
                    <div class="feature feature-blurb-text">
                        <h4 class="feature-title">Experienced Staff Available</h4>
                        <div class="feature-content">
                            <p>Staffing refers to the process of finding the right employee with appropriate qualifications or experience and recruiting them to fill a position, role, or job. </p>
                        </div>
                    </div>
                    <div class="feature feature-blurb-text">
                        <h4 class="feature-title">Low Price &amp; Fees</h4>
                        <div class="feature-content">
                            <p>A fee is the price one pays as remuneration for rights or services. Fees usually allow for overhead, wages, costs, and markup.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>