<div class="container" style="padding-left: 40px;margin-top: 30px;">
  <div class="title-box" style="text-align: center;">
    <h3><b>Doctors</b></h3>
    <img class="img" src="assets/tag-line.png" alt="image" > 
    <p>Doctor is an academic title that originates from the Latin word of the same spelling and ... Further information: List of doctoral degrees awarded by country, Doctorate § Practice by country, and Doctor of Philosophy § Degrees around the globe</p>
    
</div>
<br>
    <div class="row">
     <div class="col-md-4" style="height: 60px;">
    <div class="card" style="width: 20rem; ">
        <img src="assets/icon/doctor1.PNG" class="card-img-top" alt="..."style="height: 300px;">
        <div class="card-body">
            <h4>Gynocologist</h4>
          <p class="card-text">Doctor is an academic degree, awarded by a university or similar institution. Medical doctors examine.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img src="assets/icon/doctor2.PNG" class="card-img-top" alt="..."style="height: 300px;">
        <div class="card-body">
            <h4>General Pysician</h4>
          <p class="card-text">Doctor is an academic degree, awarded by a university or similar institution. Medical doctors examine.</p>
        </div>
      </div>
      </div>
      <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img src="assets/icon/doctor3.PNG" class="card-img-top" alt="..."style="height: 300px;">
        <div class="card-body">
            <h4>Childern Specilist</h4>
          <p class="card-text">Doctor is an academic degree, awarded by a university or similar institution. Medical doctors examine,.</p>
        </div>
      </div>
      </div>
</div>
</div>