<div class="container-fluid" style="padding-left: 30px;">
    <h3 class="h3" style="text-align: center;"> Gallery</h3>
    <div class="row">
        
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img1.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img2.jfif" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img3.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img10.jpg" class="card-img-top" alt="...">
            </div>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img5.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img6.jfif" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img7.jfif" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img8.jfif" class="card-img-top" alt="...">
            </div>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img9.jfif" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img10.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img11.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Gallary/img10.jfif" class="card-img-top" alt="...">
            </div>
        </div>
    </div><br><br>
</div>

