<div id="blog" class="blog-box">
    
    <div class="container-fluid" style="padding-left: 50px;height: 632px;">
        <h2 class="h2" style="text-align: center;" >Blog</h2> 
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box" style="text-align: center;">
                    
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-inner">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/blog-img-01.jpg" alt="" />
                    </div>
                    <div class="item-meta">
                        <a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
                        <a href="#"><i class="fa fa-user-o"></i> Admin</a>
                        <span class="dti">25 April 2021</span>
                    </div>
                    <h2>Drugs That Stop Migraine Headaches.</h2>
                    <p>Acne also known as acne vulgaris, is a long-term skin disease that occurs when hair follicles are clogged with dead skin . </p>
                    <a class="new-btn-d br-2" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-inner">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/blog-img-02.jpg" alt="" />
                    </div>
                    <div class="item-meta">
                        <a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
                        <a href="#"><i class="fa fa-user-o"></i> Admin</a>
                        <span class="dti">25 April 2021</span>
                    </div>
                    <h2> structure or function in a human. </h2>
                    <p>Many treatment options for acne are available, including lifestyle changes, medications, and medical procedureslong.</p>
                    <a class="new-btn-d br-2" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-inner">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/blog-img-03.jpg" alt="" />
                    </div>
                    <div class="item-meta">
                        <a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
                        <a href="#"><i class="fa fa-user-o"></i> Admin</a>
                        <span class="dti">25 April 2021</span>
                    </div>
                    <h2>Brain diseases come in different forms.. </h2>
                    <p>Fungal skin diseases are brought about by various sorts of fungi and are the main reasons behind an irritated skin.</p>
                    <a class="new-btn-d br-2" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>