<section id="testimonials" class="testimonials">
    <div class="container-fluid" data-aos="fade-up">

        <div class="section-title">
            <h2 class="h1" style="text-align: center;padding-top: 40px;">Testimonials</h2>
            <p class="p1" style=" padding-left: 30px;padding-top: 20px;">Your practice is great. The services you provide are incredible and the patient experience you provide is like nothing else. You know these to be true, but are they known locally, nationally, or globally?

                Sure, your regulars spread the word about your practice to their social circles.But can you provide any evidence about how great your practice is outside of what you and your brand ambassadors say?.</p>
        </div>
        <br>
        <div class="row">

            <!-- <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="30"> -->
                <div class="col-md-04" style="padding-left: 60px;">
                    <div class="testimonial-item" style="width: 320px;height: 100px;">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "The Cleveland Clinic does an amazing job of showcasing its<br> prestigious hospital with <br>testimonials.

The hospital has an entire section within its website<br> devoted to patient Of course, <br>most of them also have different<br> reasons for coming to the hospital as well".
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                    </div>
                </div>
                <div class="col-md-04">
                    <div class="testimonial-item"style="width: 320px;height: 100px;">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "The Cleveland Clinic does an amazing job of showcasing its<br> prestigious hospital with <br>testimonials.

The hospital has an entire section within its website<br> devoted to patient Of course, <br>most of them also have different<br> reasons for coming to the hospital as well".
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                    </div>
                </div>
                <div class="col-md-04">
                    <div class="testimonial-item"style="width: 320px;">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "The Cleveland Clinic does an amazing job of showcasing its<br> prestigious hospital with <br>testimonials.

The hospital has an entire section within its website<br> devoted to patient Of course, <br>most of them also have different<br> reasons for coming to the hospital as well".
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                    </div>
                </div>

                <!-- <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit
                    minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim
                    culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum
                    quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
            </div> -->
            <!-- </div> -->
        </div>

    </div>
</section>